<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hotel System</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/style.css">
 
</head>
<body>
    <div class="container">
  <div class="navbar">
    <img src="/image/logo.jpeg" alt="image not found" class="logo">
    <ul class="nav-links">
      <li><a href="/signin"><i class="fa fa-user-circle-o" style="font-size:26px"></i> LOGIN</a></li>
    </ul> 
  </div>
  <div class="text">
   <h1>Find Your Next Stay</h1>
  <p>Search low prices on hotels and much more....</p>
 </div>
 
  <div class="back">
 <div class="booking-form">
    <div class="fields-wrapper">
      <div class="form-group">
        <label for="checkin">Check-in :</span></label>
        <input type="date" id="checkin" name="checkin">
      </div>
      <div class="form-group">
        <label for="checkout">Check-out :</span></label>
        <input type="date" id="checkout" name="checkout">
      </div>
      <div class="form-group">
        <label for="adults">Adults:</label>
        <select id="adults" name="adults">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4+</option>
        </select>
      </div>
      <div class="form-group">
        <label for="children">Children:</label>
        <select id="children" name="children">
          <option>0</option>
          <option>1</option>
          <option>2</option>
          <option>3+</option>
        </select>
      </div>
    </div>

    <button class="search-btn">SEARCH</button>
  </div>
  </div>
<div class="destination">
  <h1> Trending Destination</h1>
  <h3> Most Popular Choices For Travelers From India</h3>
  </div>
  <section class="card-grid">
  <div class="card">
    <img src="/image/image1.jpeg" alt="New Delhi">
    <div class="overlay">New Delhi </div>
  </div>
  <div class="card">
    <img src="/image/image2.jpeg" alt="Bangalore">
    <div class="overlay">Bangalore </div>
  </div>
  <div class="card">
    <img src="/image/image4.jpeg" alt="Mumbai">
    <div class="overlay">Varanasi </div>
  </div>
   <div class="card">
    <img src="/image/image5.jpeg" alt="Mumbai">
    <div class="overlay">Ladakh </div>
  </div>
   <div class="card">
    <img src="/image/image6.jpeg" alt="Mumbai">
    <div class="overlay">Odhisha</div>
  </div> <div class="card">
    <img src="/image/image7.jpeg" alt="Mumbai">
    <div class="overlay">Himachal</div>
  </div>
  <div class="card">
    <img src="/image/image8.jpeg" alt="New Delhi">
    <div class="overlay">Kashmir</div>
  </div>
   <div class="card">
    <img src="/image/image9.jpeg" alt="New Delhi">
    <div class="overlay">Goa </div>
  </div>
</section>
</div>
</div>
</div>
</body>
</html>
