<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hotel System</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
  <div class="navbar">
    <img src="/image/logo.jpeg" alt="image not found" class="logo">
    <ul class="nav-links">
      <li><a href="/signin"><i class="fa fa-user-circle-o" style="font-size:26px"></i> LOGIN</a></li>
    </ul> 
  </div>
  <div class="text">
   <h1>Find Your Next Stay</h1>
  <p>Search low prices on hotels and much more....</p>
 </div>
 </div>
</div>
</body>
</html>
